*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100%
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background: linear-gradient(#4e4e4e, #2e2e2e);
}

header{
    display: block;
    position: fixed;
    height: 80px;
    width: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #2f2f2f;
    z-index: 1;
}

#barradepesquisa{
    display: block;
    position: absolute;
    left: 35%;
    top: 18%;
}

#busca{
    display: inline-block;
    width: 300px;
    height: 43px;
    border: 1px solid white;
    border-radius: 15px;
}

#rgb{
    display: block;
    height: 3px;
    width: auto;
    position: absolute;
    top: 115px;
    left: 0px;
    right: 0px;
    background: repeating-linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red);
    background-repeat:repeat-x;
	background-size: 400% 400%;
	animation: RGB 3s linear infinite;
    border: 1px solid transparent;
}

@keyframes RGB {
    0%{background-position:100% 50%}
    100%{background-position:-33% 50%}
}

#submenu{
    display: block;
    position: absolute;
    height: fit-content;
    top: 80px;
    width: auto;
    left: 0px;
    right: 0px;
    background-color: #1f1f1f;
}

#categorias{
    display: inline-block;
    position: relative;
    left: auto;
    height: fit-content;
    width: fit-content;
    color: white;
    list-style-type: none;
    font-weight: bold; 
    margin-left: 12%;
    margin-bottom: 10px;
}

#submenu-categorias{
    display: inline-block;
    margin-left: 50px;
    padding-right: 40px;
    border-right: 3px solid #2f2f2f;
}