@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
  font-family: Arial, Helvetica, sans-serif;
}

html{
  min-height: 100%;
}

body{
  height: fit-content;
  margin: 0;
  background-repeat: repeat-x;
  background-attachment: absolute;
  object-fit: fill;
  background: linear-gradient(#4e4e4e, #2e2e2e) fixed;
}

header{
  display: block;
  position: fixed;
  height: 80px;
  width: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #2f2f2f;
  z-index: 2;
}

#container{
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  
}

#field{
  padding: 120px;
  border-radius: 30px;
  background-color: white;
}

#titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  margin-top: -10%;
  color: #00930F;
}

#titulo h1{
  width: 300px;
  height: 39px;
  font-family: 'Inter', sans-serif;
}
#contatype{
  width: 136px;
  height: 24px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #9E9E9E;

}
#tipoConta input{
  width: 23px;
  height: 23px;
  border: 2px;
  color: #d9d9d9;
}
#tipoConta label{
  width: 132px;
  height: 24px;
  font-size: 20px;
  line-height: 24.2px;
  font-family: 'Inter', sans-serif;
  color: #9E9E9E;
}
#nome_cpf input{
  width: 449px;
  height: 50px;
  border-radius: 13px;
  border: 3px;
  border-style: solid;
  border-color:#D9D9D9;
  margin-top: 20px;
  margin-right: 3%;
}
#data_telefone input{
  width: 449px;
  height: 50px;
  border-radius: 13px;
  border: 3px;
  border-style: solid;
  border-color:#D9D9D9;
  margin-top: 20px;
  margin-right: 3%;
}
#emaildiv input{
  width: 940px;
  height: 50px;
  border-radius: 13px;
  border: 3px;
  border-style: solid;
  border-color:#D9D9D9;
  margin-top: 20px;
}
#senha_confsenha input{
  width: 449px;
  height: 50px;
  border-radius: 13px;
  border: 3px;
  border-style: solid;
  border-color:#D9D9D9;
  margin-top: 20px;
  margin-right: 3%;
}
#politicas{
  margin-top: 3%;
font-size: 20px;
}
#politicas imput{
  display: block;
  justify-content: center;
}
#botao{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  margin: 25px;
}
#botao button{
  width: 400px;
  height: 60px;
  border-radius: 13px;
  background: #00930F;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
}